@using System.Security.Claims
@using Forum.Web.Models.ForumPost
@model AddForumPostViewModel
@{
    bool userAuthenticated = (User.Identity != null && User.Identity.IsAuthenticated);
    bool formDisabled = !userAuthenticated;
}

<div class="container p-0 my-2">
    <form id="forum-post-form" class="card" method="post" asp-controller="ForumPost" asp-action="AddForumPost">
        <div class="card-header">
            <span class="fs-5">Add Post</span>
        </div>
        <div class="card-body">
            @if (!userAuthenticated)
            {
                <div class="alert alert-warning">
                    You should sign in to add posts.
                </div>
            }
            <div>
                <label for="PostContent" class="form-label">Post content:</label>
                <textarea
                    asp-for="PostContent"
                    class="form-control"
                    disabled="@formDisabled"
                ></textarea>
                <span class="text-danger" asp-validation-for="PostContent"></span>
            </div>
            <div>
                <label for="Description" class="form-label">Description:</label>
                <textarea
                    asp-for="Description"
                    class="form-control"
                    disabled="@formDisabled"
                ></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <input type="hidden" asp-for="ParentPostId" value="@Model.ParentPostId" />
            <input type="hidden" asp-for="ForumRoomId" value="@Model.ForumRoomId" />
            <button id="btn-forum-post-form" class='btn btn-primary mt-2 @(!userAuthenticated ? "disabled" : "")'>Submit</button>
        </div>
    </form>
</div>