@using System.Security.Claims
@using Application.Forum
@using Forum.Web.Models.ForumPost
@using MediatR
@inject IMediator mediator
@model AddForumPostViewModel
@{
    bool userAuthenticated = (User.Identity != null && User.Identity.IsAuthenticated);
    bool forumRoomClosed = (await mediator.Send(new ForumRoomClosed.Query() { ForumRoomId = Model.ForumRoomId })).Value;

    bool formDisabled = !userAuthenticated || forumRoomClosed;

    string returnUrl = Context.Request.Path;
}

<div class="container p-0">
    <form id="forum-post-form" class="card" method="post" asp-controller="ForumPost" asp-action="AddForumPost">
        <div class="card-header">
            <span class="fs-5">Add Post</span>
        </div>
        <div class="card-body">
            @if (forumRoomClosed)
            {
                <div class="alert alert-warning">
                    Room is closed by admin.
                </div>
            }
            else if (!userAuthenticated)
            {
                <div class="alert alert-warning">
                    You should sign in to add posts.
                </div>
            }
            <div>
                <label for="PostContent" class="form-label">Post content:</label>
                <textarea
                    asp-for="PostContent"
                    class="form-control"
                    disabled="@formDisabled"
                ></textarea>
                <span class="text-danger" asp-validation-for="PostContent"></span>
            </div>
            <div>
                <label for="Description" class="form-label">Description:</label>
                <textarea
                    asp-for="Description"
                    class="form-control"
                    disabled="@formDisabled"
                ></textarea>
                <span class="text-danger" asp-validation-for="Description"></span>
            </div>
            <input type="hidden" asp-for="ParentPostId" value="@Model.ParentPostId" />
            <input type="hidden" asp-for="ForumRoomId" value="@Model.ForumRoomId" />
            <input type="hidden" name="returnUrl" value="@returnUrl" />
            <button class='btn btn-primary mt-2 @(formDisabled ? "disabled" : "")'>Submit</button>
        </div>
    </form>
</div>